menu "ARM7-M Sepecfic Configuration"

depends on OS_ARCH_ARMV7_R

config INTERNAL_OS_D9340_SECURE
	bool
	select INTERNAL_OS_BYTE_ORDER_LE

choice
	prompt "Cpu Type"

config INTERNAL_OS_PLATFORM_D9340_SECURE
	bool "CORTEX_R5"
	select INTERNAL_OS_D9340_SECURE

endchoice

source arch/cpu/armv7-r/cortex-r5/Kconfig

endmenu
